{% extends "layout.html" %}
{% block content %}
<div class="content-section">
  <form method="POST" action="">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
          <legend class="border-bottom mb-4"> Become Verified</legend>
          <div class="form-group">
              {{ form.verified.label(class="form-control-label") }}
              {% if form.verified.errors %}
                  {{ form.verified(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.verified.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
              {% else %}
                  {{ form.verified(class="form-control form-control-lg") }}
              {% endif %}
          </div>
      </fieldset>
    <div class="form-group">
          {{ form.submit(class="btn btn-outline-info") }}
      </div>
    </form>
</div>
<div class="border-top pt-3">
</div>
{% endblock content %}