{% extends "layout.html" %}
{% block content %}
  <h1>Your Account: {{current_user.id}} </h1>
  <div class="content-section">
    <div class="media">
      <img class="rounded-circle account-img" src="{{ picture }}">
      <div>
        <form method="POST" action="" enctype="multipart/form-data">
          {{ form.hidden_tag() }}
          <fieldset class="form_group">
            <div class="form_group">
              {{ form.picture.label() }}
              {{ form.picture(class="form-control-file") }}
              {% if form.picture.errors %}
                {% for error in form.picture.errors %}
                  <span class="text-danger">{{ error }}</span></br>
                {% endfor %}
              {% endif %}
            </div>
          </fieldset>
          <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
          </div>
        </form>
      </div>
      <div>
        <ul class="list-group">
          <a class="ml-2" href="{{ url_for('account_info') }}">Account Info</a>
          <a class="ml-2" href="{{ url_for('account') }}">Your Properties</a>
          <a class="ml-2" href="{{ url_for('account') }}">Your Bookings</a>
          <a class="ml-2" href="{{ url_for('account') }}">Payment Method</a>
          <a class="ml-2" href="{{ url_for('account') }}">Payout Method</a>
        </ul>
      </div>
    </div>
    <div>
      <ul class="list-group">
        Join Date
        <li class="list-group-item">{{ current_user.join_date }}</li> <br>
        Verified
        <li class="list-group-item">{{ current_user.verified }}</li>
        <a class="ml-2" href="{{ url_for('account_get_verified') }}">Get Verified</a> <br>
        About
        <li class="list-group-item">{{ current_user.about }}</li>
        <a class="ml-2" href="{{ url_for('account_update_about') }}">Update</a> <br>
        Languages
        <li class="list-group-item">{{ current_user.languages}}</li>
        <a class="ml-2" href="{{ url_for('account_update_languages') }}">Update</a> <br>
        Work
        <li class="list-group-item">{{ current_user.work if current_user.work != "null" else "N/A"}}</li>
        <a class="ml-2" href="{{ url_for('account_update_work') }}">Update</a> <br>
    </div>
  </div>
{% endblock content %}