{% extends "layout.html" %}
{% block content %}
<div class="content-section">
  <form method="POST" action="">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
          <legend class="border-bottom mb-4">Add Your Payout Method</legend>
          <div class="form-group">
              {{ form.paypal_address.label(class="form-control-label") }}
              {% if form.paypal_address.errors %}
                  {{ form.paypal_address(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.paypal_address.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
              {% else %}
                  {{ form.paypal_address(class="form-control form-control-lg") }}
              {% endif %}
          </div>
      </fieldset>
      <div class="form-group">
        {{ form.submit(class="btn btn-outline-info") }}
    </div>
  </form>
</div>
{% endblock content %}