{% extends "layout.html" %}
{% block content %}
      <div>
        <ul class="list-group">
          <a class="ml-2" href="{{ url_for('view_employees') }}"> View Your Branch's Employees</a>
          <a class="ml-2" href="{{ url_for('short_term_available_properties') }}">View Short-Term Available Properties</a>
          <a class="ml-2" href="{{ url_for('short_term_unavailable_properties') }}">View Short-Term Unavailable Properties</a>
          <a class="ml-2" href="{{ url_for('your_payout_method') }}">Assign Employees To Properties</a>
        </ul>
      </div>
{% endblock content %}