{% extends "layout.html" %}
{% block content %}
  <article class="media content-section">
  <figure class='item'>
    <img class="rounded-circle article-img" src="{{ url_for('static', filename='images/' + host_picture) }}"> 
    <figcaption class="caption">
      <a class="mr-2" href="{{ url_for('user_profile', username=property_map['hostusername']) }}">{{ property_map['hostusername'] }}</a>
    </figcaption>
  </figure>
  <div class="media-body">
    <div class="article-metadata">
      <a href="{{ url_for('individual_property', propertyname=property_map['propertyname']) }}">
        <h3 align='center'>{{ property_map['propertyname'] }}</h3>
      </a> 
      <div>
        <img class="img-fluid" alt="Responsive image" src="{{ url_for('static', filename='images/' + property_map['picture']) }}">
      </div>
      <div>
        <h4 align='center'> Property Information </h4>
        <li class="list-group-item">Country: {{ property_map['country'] }}</li>
        <li class="list-group-item">Province: {{ property_map['province'] }}</li>
        <li class="list-group-item">Rent Rate: {{ property_map['rent_rate'] }}</li>
        <li class="list-group-item">Type: {{ property_map['type'] }}</li>
        <li class="list-group-item">Max Guests: {{ property_map['max_guests'] }}</li>
        <li class="list-group-item">Number of Beds: {{ property_map['number_beds'] }}</li>
        <li class="list-group-item">Number of Baths: {{ property_map['number_baths'] }}</li>
        <li class="list-group-item">Accessible: {{ property_map['accesible'] }}</li>
        <li class="list-group-item">Pets Allowed: {{ property_map['pets_allowed'] }}</li>
        <br>
        <h4 align='center'> Address Information </h4>
        <li class="list-group-item">Street Number: {{ property_map['street_number'] }}</li>
        <li class="list-group-item">Street Name: {{ property_map['street_name'] }}</li>
        <li class="list-group-item">Apartment Number: {{ property_map['apt_number'] }}</li>
        <li class="list-group-item">Postal Code: {{ property_map['postal_code'] }}</li>
      </div>
    </div>
    {% if current_user.id != property_map['propertyname'] %}
    <h4 align='center'> Check Availability </h4>
    <!-- Special version of Bootstrap that only affects content wrapped in .bootstrap-iso -->
    <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" /> 

    <!-- Inline CSS based on choices in "Settings" tab -->
    <style>.bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form{font-family: Arial, Helvetica, sans-serif; color: black}.bootstrap-iso form button, .bootstrap-iso form button:hover{color: white !important;} .asteriskField{color: red;}</style>

    <!-- HTML Form (wrapped in a .bootstrap-iso div) -->
    <div class="bootstrap-iso">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <form method="post">
              {{ form.hidden_tag() }}
              <div class="form-group ">
                <label class="control-label " for="start_date">Check-In Date:</label>
                <input class="form-control" id="start_date" name="start_date" type="text"/>
                <label class="control-label " for="start_date">Check-Out Date: </label>
                <input class="form-control" id="start_date" name="end_date" type="text"/>
              </div>
              <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Extra JavaScript/CSS added manually in "Settings" tab -->
    <!-- Include jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

    <!-- Include Date Range Picker -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

    <script>
        $(document).ready(function(){
            var date_input=$('input[name="start_date"]'); //our date input has the name "start_date"
            var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
            date_input.datepicker({
                format: 'mm/dd/yyyy',
                container: container,
                todayHighlight: true,
                autoclose: true,
            })
        })
    </script>
    </script>
    <script>
      $(document).ready(function(){
          var date_input=$('input[name="end_date"]'); //our date input has the name "end_date"
          var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
          date_input.datepicker({
              format: 'mm/dd/yyyy',
              container: container,
              todayHighlight: true,
              autoclose: true,
          })
      })
  </script>
  </script>
    {% endif %}
  </article>
{% endblock content %}