{% extends "layout.html" %}
{% block content %}
  <h1>Your Payment Method</h1>
  {% if methods|length <1 %}
    <a class="ml-2" href="{{ url_for('add_payment_method') }}">Add A Payment Method</a> <br>
  {% endif %}
  {% for method in methods %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          Card Type
          <li class="list-group-item">{{ method['card_type'] }}</li>
          First Name
          <li class="list-group-item">{{ method['first_name'] }}</li>
          Last Name
          <li class="list-group-item">{{ method['last_name'] }}</li>
          Card Number
          <li class="list-group-item">{{ method['card_number'] }}</li>
          Card Expiration
          <li class="list-group-item">{{ method['card_expiration'] }}</li>
          CVV
          <li class="list-group-item">{{ method['cvv'] }}</li>
          Billing Country
          <li class="list-group-item">{{ method ['billing_country'] }}</li>
          <br>
        </div>
      </article>
    {% endfor %}
{% endblock content %}