{% extends "layout.html" %}
{% block content %}
  <h1>Your Payout Method</h1>
  {% if methods|length <1 %}
    <a class="ml-2" href="{{ url_for('add_payout_method') }}">Add A Payout Method</a> <br>
  {% endif %}
  {% for method in methods %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          Paypal Address
          <li class="list-group-item">{{ method['paypal_address'] }}</li>
          <br>
        </div>
      </article>
    {% endfor %}
{% endblock content %}