{% extends "layout.html" %}
{% block content %}
  <h1>Your Properties (Total: {{ current_user.properties|length }})</h1>
  <a class="ml-2" href="{{ url_for('add_property') }}">Add A Property</a> <br>
  {% for property in current_user.properties %}
    <article class="media content-section">
      <figure class='item'>
        <img class="rounded-circle article-img" src="{{ url_for('static', filename='images/' + current_user.picture) }}"> 
        <figcaption class="caption">
          <a class="mr-2" href="{{ url_for('user_profile', username=property['hostusername']) }}">{{ property['hostusername'] }}</a>
        </figcaption>
      </figure>
      <div class="media-body">
        <div class="article-metadata">
          <a href="{{ url_for('individual_property', propertyname=property['propertyname']) }}">
            <h3 align='center'>{{ property['propertyname'] }}</h3>
          </a> 
          <div>
            <img class="img-fluid" alt="Responsive image" src="{{ url_for('static', filename='images/' + property['picture']) }}">
          </div>
          <div>
            <h4 align='center'> Property Information </h4>
            <li class="list-group-item">Country: {{ property['country'] }}</li>
            <li class="list-group-item">Province: {{ property['province'] }}</li>
            <li class="list-group-item">Rent Rate: {{ property['rent_rate'] }}</li>
            <li class="list-group-item">Type: {{ property['type'] }}</li>
            <li class="list-group-item">Max Guests: {{ property['max_guests'] }}</li>
            <li class="list-group-item">Number of Beds: {{ property['number_beds'] }}</li>
            <li class="list-group-item">Number of Baths: {{ property['number_baths'] }}</li>
            <li class="list-group-item">Accessible: {{ property['accesible'] }}</li>
            <li class="list-group-item">Pets Allowed: {{ property['pets_allowed'] }}</li>
            <br>
            <h4 align='center'> Address Information </h4>
            <li class="list-group-item">Street Number: {{ property['street_number'] }}</li>
            <li class="list-group-item">Street Name: {{ property['street_name'] }}</li>
            <li class="list-group-item">Apartment Number: {{ property['apt_number'] }}</li>
            <li class="list-group-item">Postal Code: {{ property['postal_code'] }}</li>
          </div>
        </div>
      </article>
    {% endfor %}
{% endblock content %}